.allItems{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex-wrap: wrap;
}

.photoNameInst{
    display: flex;
    margin: 0 100px;
}

#photo{
    max-height: 450px;
}

img{
    width: 500px;
    height: 450px;
}

#theMeal{
    display: flex;
    flex-direction: column;
}

#instructions{
    font-size: 1.1em;
}

.CategoAreaIngred{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

#list{
    list-style-type: none;
}

li{
    margin: 10px;
}

.types{
    font-size: 1.3em;
    font-weight: bold;
}
